{% extends 'base.html.twig' %}

{% block body %}
<header>
    <img class="image-header" src="{{ asset('images/header.jpg') }}" alt="">
    <div class="title">
        <h1>JM Peinture</h1>
        <p class="text-center">Vous propose ses préstations</p>
    </div>
</header>
<div class="container-fluid services">
    {{ services_template|raw }}
</div>
{% endblock %}
