{% include 'home/services/mobile.html.twig' %}
<div class="row d-none d-xl-flex">
    <div class="col no-padding align-self-center">
        {% include 'home/services/text.html.twig' %}
    </div>
    <div class="col ps-0">
        {% include 'home/services/image.html.twig' %}
    </div>
</div>