<div class="col no-padding align-self-center">
    <div class="text-block">
        <h2>{{ title }}</h2>
        <h3>{{ subtitle }}</h3>
        <p>
            {{ first_paragraph|raw }}
        </p>
        <p>{{ second_paragraph|raw }}</p>
    </div>
</div>