@import "~bootstrap/scss/bootstrap";

@media (min-width: 768px) {

    footer {

        .mt85px {
            margin-top: 85px;
        }
    }
}

body {

    a {
        color: black;
    }

    .no-padding {
        padding: 0;
    }
    
    header {
        .image-header {
            width: 100%;
        }

        .title {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: lightgray;
            padding-right: 75px;
            padding-left: 75px;
            z-index: 1;

            h1 {
                text-align: center;
            }

            p {
                margin-bottom: 0.5em;
            }
        }

    }

    .services {

        .image-block {
            width: 100%;
        }

        .text-block {
            padding: 12px;
        }
    }

    footer {
        background-color: black;
        color: white;

        a, a:hover {
            color: white;
            text-decoration: none;
        }
    }
}
