<footer>
    <div class="row">
        <div class="col">
            JMPeinture
        </div>
        <div class="col">
            Contact<br>
            Tel : 
            Mail :
        </div>
        <div class="col">
            Demande de devis
        </div>
    </div>
</footer>